/* CSS RESET */
body {
  font-family: "Poppins", sans-serif;
  color: #222;
  background-color: hsl(0, 0%, 98%);
}

* {
  box-sizing: border-box;
}

h1,
h2,
p,
ul,
li,
a,
body {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.header-bg {
  background: #fafafa;
}

.img-header {
  height: 30px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  max-width: 960px;
  margin: 0 auto;
}

.menu-header {
  display: flex;
  gap: 20px;
  align-items: center;
}

.menu-header li:nth-child(1)::after {
  content: "▼";
  font-size: 12px;
  color: #4c4d5f;
  margin-left: 5px;
}

.menu-header li:nth-child(2)::after {
  content: "▼";
  font-size: 12px;
  color: #222;
  margin-left: 5px;
}

.menu-header a {
  color: #222;
  font-size: 14px;
}

.links-header {
  display: flex;
  gap: 20px;
  align-items: center;
}

.login {
  background: #ffffff;
  color: #00a86b;
  padding: 10px 20px;
  border-radius: 6px;
  border: 2px solid #00a86b;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}

.login:hover {
  background-color: #00a86b;
  color: #fff;
}

.start-free {
  background: #00a86b;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 6px;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}

.start-free:hover {
  background: #016842;
  border: none;
}

.plans-bg {
  background: linear-gradient(to left, white 10%, #eef7fc 100%);
}

.plans {
  max-width: 960px;
  margin: 0 auto;
  padding-top: 60px;
}

.plans h1 {
  max-width: 960px;
  color: #4c4d5f;
  font-size: 2rem;
  padding-bottom: 60px;
  text-align: center;
  position: relative;
  top: 30px;
  right: 120px;
}

.plans-container {
  display: flex;
  align-items: stretch;
  gap: 20px;
  justify-content: center;
}

.plan-item {
  background: #fff;
  flex: 1;
  padding: 60px;
  min-width: 350px;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.plan-item h2 {
  color: #4c4d5f;
  font-weight: 600;
  font-size: 1.3rem;
}

.plan-item p {
  margin-bottom: 15px;
  font-size: 12px;
  width: 200px;
}

.value-section sup {
  font-size: 2rem;
  color: #4c4d5f;
  margin-right: 5px;
  position: relative;
  top: -15px;
}

.value-section {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #016842;
  width: 100%;
  margin-bottom: 20px;
}

.big-number {
  font-size: 2.5rem;
  color: #4c4d5f;
  font-weight: bold;
  position: relative;
  top: -10px;
}

.month {
  font-size: 1.5rem;
  display: inline-block;
  text-transform: uppercase;
  color: #4c4d5f;
}

.benefits {
  color: #4c4d5f;
  font-size: 12px;
}

.benefits li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  width: 200px;
}

.benefits li::before {
  content: "";
  background: url("/img/seta.svg");
  width: 10px;
  height: 7px;
  display: inline-block;
  flex-shrink: 0;
}

.plan-item a {
  margin-top: 20px;
  background: #00a86b;
  color: #ffffff;
  padding: 20px 20px;
  border-radius: 6px;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  width: 200px;
}

.introduction {
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle-container {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #4c4d5f;
}

.option {
  color: #4c4d5f;
  transition: color 0.3s;
}

.selected {
  color: black;
}

.toggle {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  transition: 0.4s;
}

.slider::before {
  content: "";
  position: absolute;
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

.toggle input:checked + .slider {
  background-color: #00a86b;
}

.toggle input:checked + .slider::before {
  transform: translateX(20px);
}

.discount {
  font-size: 12px;
  color: #00a86b;
  font-weight: bold;
  margin-left: 5px;
  position: relative;
  top: -22px;
  right: 90px;
}

.discount::after {
  content: "↘";
  font-size: 12px;
  color: #00a86b;
  position: absolute;
  top: 2px;
  right: -12px;
  transform: rotate(70deg);
}

.most-popular {
  position: absolute;
  top: 60px;
  right: -60px;
  background: #0aae7f;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 80px;
  transform: rotate(45deg);
  transform-origin: center;
  text-transform: uppercase;
  font-weight: 500;
}

.add-ons {
  display: flex;
  flex-direction: column;
  padding: 20px 60px;
  max-width: 960px;
  margin: 0 auto;
}

.add-ons h2 {
  max-width: 960px;
  color: #4c4d5f;
  font-size: 2rem;
  padding-bottom: 60px;
  text-align: center;
  position: relative;
  top: 30px;
  right: 120px;
}

.add-on-item {
  background: white;
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 20px;
}

.add-on-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-on-value {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.add-on-item h3 {
  color: #4c4d5f;
  font-size: 16px;
}

.add-on-item p {
  color: #4c4d5f;
  font-weight: 300;
  font-size: 14px;
}

.add-on-price {
  font-size: 2.5rem;
  color: #4c4d5f;
}

.add-on-month {
  color: #4c4d5f;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
}

.add-on-item a {
  color: #00a86b;
  padding: 10px 20px;
  border-radius: 6px;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}

.add-ons-bg {
  background-color: #fafafa;
}

.box {
  padding: 40px 20px;
  display: flex;
  justify-content: space-between;
  width: 800px;
  margin: 0 auto 50px auto;
  align-items: center;
  font-size: 1rem;
  background: #eef7fc;
  text-align: center;
}

.box h1 {
  color: #4c4d5f;
  font-weight: 500;
}

.box a {
  background: #00a86b;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 6px;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}

.your {
  color: #00a86b;
  font-weight: 500;
}

.frequently-questions {
  max-width: 960px;
  margin: 0 auto;
  padding: 60px;
}

.frequently-questions h1 {
  color: #00a86b;
  margin-bottom: 20px;
  max-width: 960px;
  margin: 0 auto 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.frequently-questions-item {
  background: #f7f9fc;
  padding: 30px;
}

.frequently-questions-item li {
  color: #4c4d5f;
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative; /* Para que o ::after seja posicionado corretamente */
  padding-right: 20px; /* Para dar espaço para a seta */
}

.frequently-questions-item li::after {
  content: "";
  background: url("/img/down-arrow-svgrepo-com.svg");
  background-size: contain;
  display: block;
  width: 14px;
  height: 14px;
  position: absolute;
  right: 0px;
  top: 50%;
}

footer {
  max-width: 960px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  padding: 60px;
}

footer a {
  color: #696969;
  font-size: 13px;
}

footer h3 {
  font-size: 16px;
  color: #4c4d5f;
  text-transform: uppercase;
}

footer h4 {
  font-size: 14px;
  color: #4c4d5f;
  text-transform: uppercase;
}

footer li {
  margin-bottom: 8px;
}

.products-list li {
  max-width: 200px;
}

.pricing-list {
  margin-top: 35px;
}

.pricing-list a {
  display: flex;
  align-items: center;
}

.pricing-list a:nth-child(1) {
  color: #00a86b;
  font-size: 13px;
  font-weight: 300;
}

.resourcers-list-2 li:nth-child(1),
.bonsai-list-2 li:nth-child(1) {
  margin-top: 30px;
}

.bonsai-list-2 li:nth-child(3) {
  margin-top: 20px;
}
.templates-list li {
  display: flex;
  align-items: center;
}

.templates-list li:nth-child(-n + 7)::after {
  content: "";
  background: url("/img/down-arrow-svgrepo-com.svg");
  background-size: contain;
  display: block;
  width: 14px;
  height: 14px;
  margin-left: 5px;
}

.bonsai-list-2 li {
  display: flex;
  align-items: center;
}

.bonsai-list-2 li:last-child:after {
  content: "";
  background: url("/img/down-arrow-svgrepo-com.svg");
  background-size: contain;
  display: block;
  width: 14px;
  height: 14px;
  margin-left: 5px;
}
